<section>
<footer>
<div class="col-app">
<h1 class="app-title col-title"> Aezaz's Shop</h1>
<ul class="addres-details">
<li> <mat-icon>place</mat-icon> <span> 123, Neywork, USA</span></li>
<li> <mat-icon>phone</mat-icon><span> +9323-3232121</span></li>
<li> <mat-icon>mail</mat-icon><span> aezazali.pro@gmail.com</span></li>
</ul>
</div>
<div class="col-app">
<h1 class="col-title"> Products</h1>
<ul class="product-details">
<li> <a href="#"><span> Luxury</span>  </a></li>
<li> <a href="#"><span> Sport Wear</span>  </a></li>
<li> <a href="#"><span> Men's Shoes</span>  </a></li>
<li> <a href="#"><span> Women's Shoes</span>  </a></li>
<li> <a href="#"><span> Popular Dress</span>  </a></li>
<li> <a href="#"><span> Gym Accessories</span>  </a></li>
<li> <a href="#"><span> Sport Shoes</span>  </a></li>
</ul>
</div>
<div class="col-app">
<h1 class="col-title"> Further Info</h1>
<ul class="product-details">
<li> <a href="#"><span> Home</span>  </a></li>
<li> <a href="#"><span> About</span>  </a></li>
<li> <a href="#"><span> Shop</span>  </a></li>
<li> <a href="#"><span> Contact</span>  </a></li>
</ul>
</div>
</footer>
<article>
<div>
<a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>

</div>
<div> <input type="text" name="" id="" placeholder="Email Address"> <button>submit</button></div>
</article>
</section>
