<section>
  <article>
  <h1>Categories of month</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, eveniet?</p>
  </article>
  <article class="products-wrapper">
  <main>
    <div class="product-container">
    <img class="product" src="../../../../assets/img1.jpg" alt="">
    </div>
    <div class="product__text-container">
    Watches
    </div>
    <div class="product__link-container">
    <a class="product__link" href="#">Buy now</a>
    </div>
  </main>
   <main>
    <div class="product-container">
    <img class="product" src="../../../../assets/img2.jpg" alt="">
    </div>
    <div class="product__text-container">
    Shoes
    </div>
    <div class="product__link-container">
    <a class="product__link" href="#">Buy now</a>
    </div>
  </main>
     <main>
    <div class="product-container">
    <img class="product" src="../../../../assets/img3.jpg" alt="">
    </div>
    <div class="product__text-container">
    Glasses
    </div>
    <div class="product__link-container">
    <a class="product__link" href="#">Buy now</a>
    </div>
  </main>
  </article>
</section>
