<app-header></app-header>
<div>
<mat-toolbar>
<div class="container no-gutters">
<div class="res-btn">
<button mat-icon-button (onclick)="onToggleSideNav()">
<mat-icon>menu</mat-icon>
</button>
</div>
<div class="container__logo">
<a href="">Aezaz</a>
</div>
<div class="link-container">
<ul>
<li><a href="">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/shop">Shop</a></li>
<li><a href="contact">Contact</a></li>
</ul>
</div>
<div class="cart-icons">
<ul>
<li> <a href="#"><span class="fa fa-search"></span></a></li>
<li> <a href="#"><span class="fa fa-cart-arrow-down"></span></a></li>
<li> <a href="#"><span class="fa fa-bell"></span></a></li>
</ul>
</div>
</div>
</mat-toolbar>
</div>
