<div>
<mat-toolbar>
<mat-toolbar-row>
<mat-icon>email</mat-icon>
<span>aezazali.pro@gmail.com</span>
<mat-icon>phone</mat-icon>
<span>+92-335-5697280</span>
<span class="spacer"></span>
<ul class="list-container">
<li><a target="_blank" href="https://www.facebook.com"><span class="fa fa-facebook"></span></a></li>
<li><a target="_blank" href="https://www.linkedin.com"><span class="fa fa-linkedin"></span></a></li>
<li><a target="_blank" href="https://www.twitter.com"><span class="fa fa-twitter"></span></a></li>
<li><a target="_blank" href="https://www.github.com"><span class="fa fa-github"></span></a></li>
</ul>
</mat-toolbar-row>
</mat-toolbar>
</div>
